<div id="lightboxwindow" class="modal-content">
    <!--<div class="modal-header">
        <h3 class="modal-title" id="modal-title">Lightbox</h3>
    </div>-->
    <div class="modal-body" id="modal-body">
        <div>
            <img ng-src="{{vm.bigslide}}" style="width:100%;">
            <!--<div class="carousel-caption">
                <p>{{slide.text}}</p>
            </div>-->
        </div>
    </div>
    <!--<div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="vm.addSlide()">Add Slide</button>
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>-->
</div>

<script type="text/ng-template" id="lightboxwindow">
    
</script>