<div>
    <h4>Default</h4>
    <span uib-rating ng-model="vm.rate" max="vm.max" read-only="vm.isReadonly" on-hover="vm.hoveringOver(value)" on-leave="vm.overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="vm.overStar && !vm.isReadonly">{{percent}}%</span>

    <pre style="margin:15px 0;">Rate: <b>{{vm.rate}}</b> - Readonly is: <i>{{vm.isReadonly}}</i> - Hovering over: <b>{{vm.overStar || "none"}}</b></pre>

    <button type="button" class="btn btn-sm btn-danger" ng-click="vm.rate = 0" ng-disabled="vm.isReadonly">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="vm.isReadonly = ! vm.isReadonly">Toggle Readonly</button>
    <hr />

    <h4>Custom icons</h4>
    <div ng-init="vm.x = 5"><span uib-rating ng-model="vm.x" max="15" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1"></span> <b>(<i>Rate:</i> {{vm.x}})</b></div>
    <div ng-init="vm.y = 2"><span uib-rating ng-model="vm.y" rating-states="vm.ratingStates" aria-labelledby="custom-icons-2"></span> <b>(<i>Rate:</i> {{vm.y}})</b></div>
</div>