<div class="">
    <div class="jumbotron text-center">
        <img src="../../Assets/img/MINIMAL-LOGO-NEW.png" />
    </div>
</div>
<div class="container">
    <div class="col-lg-8 text-center">

        <article class="post">
            <div class="post-header">
                <span class="cat">
                    <a>Break</a>
                </span>
                <h2 class="text-capitalize">
                    <span>
                        <a>Papilion Minter Savior</a>
                    </span>
                </h2>
                <span class="date">Wednesday, March 04, 2015</span>
            </div>
            <img src="../../Assets/img/Heart-with-a-red-oil-pastel.jpg" />
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" class="text-capitalize btn-default pull-left">Read More...</button>
        </article>

        <div class="post-share">
            <a><span><i class="glyphicon-facetime-video"></i></span></a>
            <a><span><i class="glyphicon-facetime-video"></i></span></a>
            <a><span><i class="glyphicon-facetime-video"></i></span></a>
            <a><span><i class="glyphicon-facetime-video"></i></span></a>
            <a><span><i class="glyphicon-facetime-video"></i></span></a>
        </div>

        <br />

        <article>
            <h4>Break</h4>
            <h3 class="text-capitalize">Papilion Minter Savior</h3>
            <p>Wednesday, March 04, 2015</p>
            <img src="../../Assets/img/IMG_9846free-650x420.jpg" />
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" class="text-capitalize btn-default pull-left">Read More...</button>
        </article>
    </div>
    <div class="col-lg-4 text-center widget" id="sidebar">
        <h2 class="title"><span>About Me</span></h2>
        <img src="http://4.bp.blogspot.com/-zsGf84qAU0Q/VQ7Kef39wcI/AAAAAAAAEhU/JcjclVG0Q24/s1600/me.jpg" />
        <p>Welcome to The Minimal.</p>
        <br />
        <p> - I'm a Sneakeraholic. I'm passionate at Beauty, Travel, Fashion. This blog is a place where I want to share all the things I love to you! Keep</p>
    </div>
</div>


<!--This is the beginning of the date picker application.-->
<!--<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <td>All Dates</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody ng-repeat="date in vm.dates">
                    <tr>
                        <td>{{date.picture}}</td>
                        <td>{{date.price | currency}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <h1>{{vm.rand}}</h1>
                <button type="button" class="btn btn-primary" ng-click="vm.number();">
                    New Date
                </button>
            </div>
        </div>
    </div>
</div>-->
